
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #023047;
    color: white;
}
#signin:hover{
    border: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 25px;
}
nav ul{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.clicked{
    color: #ffbd00;
    border-bottom: #ffb703 3px solid;
}
nav a{
    color: white;
    transition-duration: 300ms;
    cursor: pointer;
}
nav a:hover{
    color: #ffbd00;
    border-bottom: #ffb703 3px solid;
}
.navend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
}
.signin{
    width: 50px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
    border:none;
    cursor: pointer;
    transition: 300ms;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 10px;
}
.signin:hover{
    border: 1px solid black;
    background: #ffb703;
}

.mainkid{
    text-align: center;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}
.mainkid input{
    margin-top: 30px;
    width: 200px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Open sans';
}
.mainkid button{
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
    background-color: #ffbd00;
    transition: 100ms;
}
.mainkid button:hover{
    color: rgb(32, 14, 14);
}
.mainkid button:active{
    transform: scale(0.9);
}

.mainimage{
    background-image: url(https://www.pngmart.com/files/15/Smiling-Business-Man-Standing-PNG-Photos.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 300px;
    margin-right: 180px;
}
.mainlist{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: larger;
}
.mainlist li{
    padding: 6px;
    border-radius: 100%;
    width: 20px;
    color: white;
    align-items: center;
    transition: 300ms;
}
.mainlist li:hover{
    transform: scale(110%);
    cursor: pointer;
}
#main3item{
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1c2541;
    gap: 10px;
    padding-top: 20px;
}
#main2{
    background-color: #9e0059;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 20px;
}
#main2 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    font-weight: 100;
    font-family: 'Roboto';
    font-size: 30px;
}
#main3{
    height: 90vh;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: black;
}
.main3shop{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    height: 25vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 300ms;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 80px;
}
.main3shop:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
.main3image{
    display: flex;
    background-color: black;
    height: 100%;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main3text{
    font-family: "Open sans";
    font-size: 14px;
    padding-top: 15px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.qtysize{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    font-size: 10px;
}

#paypalplace{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paypal{
    background-color: transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    margin-right: 70px;
}
#mainimage{
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
}


#trans{
    height: 10vh;
    background-color: #023047;
}

#main4{
    height: 110vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
#main4text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
#main4service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    height: 350px;
    width: 900px;
    margin-top: 40px;
}
.services{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.menwomen{
    width: 100%; 
    font-size: 15px;
    padding-left:100px;
    padding-top: 10px;
    font-weight: 700;
    font-family: 'Poppins';
}

.abdou{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.textservice{
    width:80%;
    font-size: 10px;
    font-family: 'Open sans';
    font-weight: 500;
}
#footer{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footerinfo{
    margin-top: 20px;
    display: flex;
    width: 500px;
    justify-content: space-around;
}
#footerplace{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerplace{
    height: 30px;
    width: 310px;
    display: flex;
    outline: white solid 1px;
}
.footerplace2{
    height: 30px;
    width: 150px;
    display: flex;
    outline: white solid 1px;
}
.footerplace3{
    height: 30px;
    display: flex;
    outline: white solid 1px;
}


#copyright{
    margin-top: 20px;
}

.litlep{
    font-size: 10px; font-weight: 300; font-family: 'Poppins';
}
.bigp{
    font-weight: 900;font-family: 'Poppins';font-size: 30px;color: white;
}
#navbtn,#navbtn2{
    display: none;
}
.paybutton{
    width: 230px;height: 30px;cursor: pointer;font-weight: 300;font-family: 'Open sans';
}
@media screen and (max-width: 1000px){
    #mainimage{
        margin-top: 50px;
        width: 340px;
        height: 200px;
    }
    .bigp{
        font-size: 20px;
    }
    nav ul{
        gap: 20px;
    }
    #main3{
        display: grid;
        grid-template-columns: 1fr;
        color: black;
        height: fit-content;
    }
    #paypalplace{
        height: 100%;
        margin-bottom: 50px;
    }
    #main4{
        height: fit-content;
    }
    #main4service{
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        width: fit-content;
        margin-bottom: 50px;
        
    }
    .services{
        width: 300px;
        
    }
    .menwomen{
        width: 30px;
        padding: 0px;
    }
    .mainkid{
        padding-left: 20%;
    }

}
/*small*/
@media screen and (max-width: 600px){
    #main{
        display: inline;
    }
    .hide{
        display: none;
    }
    .navbrand{
        display: none;
    }
    .responsiv{
        display: flex;
        flex-direction: column;
        position:absolute;
        background-color: #1c2541;
        width: 90px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 10px;
        border: 1px solid black;
    }
    #main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }
    #mainimage{
        margin-bottom: 20px;
        max-height: 160px;
        max-width: 250px;

    }
    #navbtn {
        display: inline;
        padding-right: 10px;
    }
    .mainkid{
        padding: 0;
        height: fit-content;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }
    .menwomen{
        width: fit-content;
    }
    #navbtn:hover{
        border: none;
    }
    #navbtn2:hover{
        border: none;
    }
    .mainbtn{
        margin-top: 10px;
    }
    #main3{
        place-items: center;
        height: fit-content;        
        gap: 30px;
        overflow: hidden;
    }
    #paypalplace{
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 200px;
    }
    .paybutton{
        width: fit-content;
    }
    .main3shop{
        margin: 0px;
        flex-direction: column;
        max-width: 190px;
        width: fit-content;
        height: 300px;
    }
    #main3item{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 20px;
    }
    .main3image{
        width: 100%;
    }
    
    .main3shop p{
        width: fit-content;
    }
    .paypal{
        margin: 0px;
        width: fit-content;
    }
    #footerinfo{
        width: fit-content;
    }
    #main4service{
        grid-template-columns: 1fr;
    }
    .services{
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        height: 150px;
        padding-bottom: 20px;
    }
    .main3text{
        padding-left: 10px;
    }
    .main3text p{
        padding-left: 20px;
        width: 150px;
        margin: 0;
    }

    #footer{
        overflow: hidden;
    }
    .footerplace, .footerplace2{
        width: fit-content;
        margin-left: 20px;
        margin-top: 10px;
        padding-right: 10px;
        margin-right: 20px;
    }
}
